

.include-me {
    background-image: url('include_me.png'); /* embed */
}

.exclude-me {
    background-image: url('exclude_me.png'); /* noembed */
}

.include-me1 {
    background: transparent url('include_me.png') /* embed */ center center no-repeat;
}
